<!-- core/templates/core/home.html -->

{% extends "core/base.html" %}

{% block content %}
<section class="hero-section">
  <div class="container mt-5 mb-5">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h1 class="display-4">Find Your Home Services Expert</h1>
              <p class="lead">Our App services care will save your time & money</p>
              <button class="btn btn-success btn-lg me-2"><a href="/signup" style="color: white; text-decoration: none;">Sign Up</a></button>
              <button class="btn btn-outline-success btn-lg"><a href="/login" style="text-decoration: none ; color:green;">Log In</a> </button>
          </div>
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Search for a service</h5>
                      <form>
                          <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Abuja">
                          </div>
                          <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Search for a service">
                          </div>
                          <button type="submit" class="btn btn-success">How it works?</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="services">
  <div class="container mt-5">
      <h2 class="text-center mb-4">Popular Services</h2>
      <div class="row">
          {% for service in services %}
          <div class="col-md-2 col-sm-4 col-6 service-card">
              <div class="card">
                  <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}">
                  <div class="card-body">
                      <h5 class="card-title text-center">{{ service.name }}</h5>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>

<section class="stats text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-6 mb-3">
              <h3>1.5 M</h3>
              <p>Users</p>
          </div>
          <div class="col-md-3 col-6 mb-3">
              <h3>18 Year</h3>
              <p>Experience</p>
          </div>
          <div class="col-md-3 col-6 mb-3">
              <h3>5M</h3>
              <p>Downloads</p>
          </div>
          <div class="col-md-3 col-6 mb-3">
              <h3>21 K</h3>
              <p>Reviews</p>
          </div>
      </div>
  </div>
</section>


{% endblock %}
