
    
    {% extends "customers/base.html" %}

    {% block content %}
    <div class="container mt-5">
        <h1 class="text-success">{{ service.title }}</h1>
        <p><strong>Description:</strong> {{ service.description }}</p>
        <p><strong>Category:</strong> {{ service.category.name }}</p>
        <p><strong>Price:</strong> Rs: {{ service.price }}</p>
        <p><strong>Status:</strong> {{ service.status }}</p>
        <p><strong>Service Provider:</strong> {{ service.seller }}</p>
    
        <!-- Booking Form -->
        <h3 class="mt-4 text-success">Book This Service</h3>
        <form method="post">
            {% csrf_token %}
            {{ booking_form.as_p }}
            <button type="submit" name="book_service" class="btn btn-success">Book Now</button>
        </form>
<
      
    </div>
    {% endblock %}
    

